{% extends "layout.html" %}
{% block title %}Games{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<br>
<h2>Games</h2>
<br>
<p> Games? There's no time for games when you're trying to complete multiple projects and labs that are due at the beginning of next month! No sir-iee. Nodda right now. </p> 
<br>
<p>But it never hurts to see what is popular or upcoming so that you have something to look forward to when its' all finally over and done with.</p>
<br>
<p>Or, your hopes and dreams can be crushed for the game you were looking forward to was an actual pile of flaming garbage. It's a good thing to say 'no' to pre-orders!</p>
<br>
<p>Annnnyyyway. Some games looking forward to... </p>
    <div id="Navagation">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="https://www.pathofexile.com/game">Diablo 4</a><br>
        <a class="p-2 text-muted" href="https://www.ea.com/games/anthem">Anthem</a><br>
        <a class="p-2 text-muted" href="https://dyinglightgame.com/">Dying Light 2</a><br>
        <a class="p-2 text-muted" href="http://www.tenmanga.com/book/Overlord.html">World of Warcraft Classic</a><br>
        <a class="p-2 text-muted" href="https://www.bungie.net/en/News/Article/47163">Maybe new Destiny 2 content? Maybe?</a><br>
        <a class="p-2 text-muted" href="https://youtu.be/bGej8K1r8KI?t=173">Days Gone</a><br>
      </nav>
<br>
{% endblock %}
