{% extends "layout.html" %}
{% block title %}BRBMANGA{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<br>
<h2>BRB Manga</h2>
<br>
<p> Oh boy, what are you doing here? This could be the biggest regret of your life, looking at all this fine work. You may be laughed at for looking at this stuff. Maybe the idea itself, a meme. </p> 
<br>
<p>Reading manga is a way of life. One must fully give themselves over to it. Read it every day. Compare it to IRL experiences. Put themselves in the story itself to revel in its' world.</p>
<br>
<p>Why are you still reading this? You know I'm just messing with you. :) </p>
<br>
<p>Here are some fun reads: </p>
    <div id="Navagation">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="http://www.tenmanga.com/book/One+Piece.html">One Piece</a><br>
        <a class="p-2 text-muted" href="http://www.tenmanga.com/book/NOBLESSE.html">Nobelesse</a><br>
        <a class="p-2 text-muted" href="http://www.tenmanga.com/book/NANATSU+NO+TAIZAI.html">Seven Deadly Sins</a><br>
        <a class="p-2 text-muted" href="http://www.tenmanga.com/book/Overlord.html">Overlord</a><br>
        <a class="p-2 text-muted" href="http://www.tenmanga.com/book/Death+March+kara+Hajimaru+Isekai+Kyousoukyoku.html">Death March to the Parallel World Rhapsody</a><br>
        <a class="p-2 text-muted" href="https://www.wuxiaworld.com/novel/tales-of-demons-and-gods">Tales of Demons & Gods</a><br>
      </nav>
<br>
{% endblock %}




